/* Universal selector*/
* {
   padding: 0;
   margin: 0;
}
nav{
   display: flex;
   justify-content: space-between;
   background-color:rgba(245, 245, 245, 1);
   max-width:1600px;
   height: 100;
   flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 160px 24px 160px;
box-sizing: border-box;
}

.div{


}

.div img{

}

.link_parent{
display: flex;
gap: 22px;
list-style: none;
}
.link_parent a {
   text-decoration:none ;
}

.nav{
width: 1600px;
height: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 160px 24px 160px;
}
.style_nav{
   background-color: rgba(245, 245, 245, 1);
}

 .signin_button{ 
width: 116px;
height: 52px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 15px 30px 15px 30px;
box-sizing: border-box;
border: 1px solid rgba(0, 106, 80, 1);
border-radius: 8px;
color: rgba(0, 106, 80, 1);
}


/* .body_size{
   width: 222px;
height: 38px;
color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-style: Bold;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
} */


/* 
.nav_flex{
   width: 1600px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 24px 160px 24px 160px;
   backgrount: rgba(245, 245, 245, 1);
} */
/* .div_display {
   width: 1600px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 24px 160px 24px 160px;
   backgrount: rgba(245, 245, 245, 1);
} */


/* .singin_button {
   width: 56px;
   height: 22px;
   color: rgba(0, 106, 80, 1) ;
   font-family: fera Sans;
   font-style: SemiBold;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: left;
   
} */
